/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */
body{
    margin: 0 0;
    padding:  0 0;
    /* font-family:'Quicksand', sans-serif !important ; */
}
.app{
    background: url("../../images/bgimg.jpg");
    margin:0 0;
    padding:0 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}   
.appParalax{
    background: rgba(15,32,39,0.5);  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgba(44,83,100,0.5), rgba(32,58,67,0.5), rgba(15,32,39,0.5));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgba(44,83,100,0.5), rgba(32,58,67,0.5), rgba(15,32,39,0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    width: 100vw;
}
.content{
    padding: 40px 40px;
}