/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */
body {
    margin: 0 0;
    padding: 0 0;
    /* font-family:'Quicksand', sans-serif !important ; */
}

.app {
    background: url("../../images/bgimg.jpg");
    margin: 0 0;
    padding: 0 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.appParalax {
    background: rgba(0, 0, 0, 0.7);
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, rgba(65,67,69,.8), rgba(35,37,38,.8));   */
    /* background: linear-gradient(to right, rgba(65,67,69,.8), rgba(35,37,38,.8));  */
    height: 100vh;
    width: 100vw;
    /* overflow: scroll; */
}

.content {
    padding: 40px 40px;
}

.rightHolder {
    overflow-y: scroll;
}