.information{
    max-width: 500px;
    color: white;
    margin-top: 70px;
    overflow: hidden;
}
 .icons{
    
    display: flex;
    color: rgba(250, 228, 201,1);

}
.icons .infoIcons{
    margin-top: -3px;
    font-size: 18px !important;
    font-weight: 700;
    transition: 0s ease-in-out;
    cursor: pointer;
}
.icons:hover{
    color: #ee7e2d;
}