.information {
    width: 80%;
    color: white;
    margin: 0px auto;
    margin-top: 70px;
    padding: 40px 40px;
    overflow: hidden;
}

.icons {

    display: flex;
    color: rgba(250, 228, 201, 1);

}

.icons .infoIcons {
    margin-top: -3px;
    font-size: 18px !important;
    font-weight: 400;
    transition: 0s ease-in-out;
    cursor: pointer;
    font-family: 'Dongle', sans-serif !important;


}

.icons:hover {
    color: #ee7e2d;
}