.projects {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ee7e2d;
    transition: 1s ease;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a85b25;
}