.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;


}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #851405;
    transition: 1s ease;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a85b25;
}